:global * {
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    tap-highlight-color: rgba(0,0,0,0);
}

:global *,
:global *:before,
:global *:after {
    box-sizing: border-box;
}

:global html {
    font-size: 5.625vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 500px) {
    :global html {
        font-size: 28px;
    }
}

:global body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.25;
    color: #34495e;
    /* prevent callout to copy image, etc when tap to hold */
    touch-callout: none;
    /* prevent webkit from resizing text to fit */
    text-size-adjust: none;
    user-select: none;
}

:global a {
    color: #16a085;
    text-decoration: none;
    -webkit-transition: color .25s;
    transition: color .25s;
}

:global a:hover,
:global a:focus {
    color: #1abc9c;
    text-decoration: none;
}

:global a:focus {
    outline: none;
}

:global textarea {
    color: inherit;
}

:global button {
    background-color: #1abc9c;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: .25s background-color;
}

:global button:hover,
:global button:focus {
    outline: none;
}

:global button:active {
    outline: none;
    box-shadow: none;
}

:global button[disabled] {
    color: rgba(255, 255, 255, .75);
    background-color: #bdc3c7;
    opacity: .7;
}
